.hero {
	position: relative;
	max-height: 400px;
	min-height: 400px;
	overflow: hidden;
	background-size: cover;
	background-position: center;
}

.content {
	position: absolute;
	bottom: 50px;
	left: 50px;
	color: #fff;
	z-index: 2;
}

.title {
	font-size: 48px;
	margin: 0;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.description {
	font-size: 24px;
	margin-top: 20px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.cta {
	font-size: 18px;
	padding: 10px 20px;
	margin-top: 20px;
	background-color: #ffcc00;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	z-index: 2;
}

.image {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	object-fit: cover;
}

.slide {
	position: relative;
	height: 400px;
	width: 100%;
}

.slide > span {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}
