.menuButton {
	background-color: #555;
	border: none;
	color: white;
	padding: 10px 20px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	max-height: 100px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.link {
	text-decoration: none;
	color: white;
}

@media (max-width: 768px) {
	.menuButton {
		width: 100%;
		scale: 0.8;
	}

	.link {
		margin: 0;
	}
}
