.section {
	width: 100%;
	padding-top: 10px;
	margin-bottom: 20px;
}

.container {
	width: 50%;
	margin: auto;
	padding: 10px;
}

.bgSlate {
	background-color: #dfe3e8;
}

.padding {
	padding: 10px;
}

.title {
	font-size: 2rem;
	font-weight: bold;
}

.hr {
	margin: 10px;
}

/* .list {
} */

.flexContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 6px;
}

.boldText {
	font-size: 1.25rem;
	font-weight: bold;
}

.price {
	font-size: 1.5rem;
}
