.menu {
	background-color: #333;
	color: white;
	padding: 6px 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.toggle button {
	background-color: transparent;
	border: none;
	color: white;
	font-size: 24px;
	cursor: pointer;
	margin: auto 10px auto 10px;
	display: flex;
}

.toggle button:hover {
	color: #f1f1f1;
}
.freeLink {
	text-decoration: none;
	color: white;
}

.logo {
	font-size: 24px;
	cursor: pointer;
	text-transform: uppercase;
	margin: 10px 20px;
}

.logo:hover {
	color: #f1f1f1;
}

.buttonContainer {
	display: flex;
	align-items: center;
	margin: 0 20px;
}

.buttonContainer button {
	background-color: #555;
	border: none;
	padding: 10px 10px;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 500;
	transition: background-color 0.2s ease-in-out;
	margin: 0 4px;
}

.searchContainer form {
	width: 24em;
	display: flex;
	justify-content: space-around;
}

.input {
	padding: 10px;
	margin-right: 15px;
	border: none;
	border-radius: 5px;
	color: #555;
	box-sizing: border-box;
	flex-grow: 1;
	margin-right: 8px;
}

.button {
	background-color: #555;
	border: none;
	padding: 10px 15px;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 500;
	transition: background-color 0.2s ease-in-out;
	margin: 0 8px;
	min-width: 100px;
	text-align: center;
}

.button:hover {
	background-color: #777;
}

.cart {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	font-size: 24px;
	cursor: pointer;
	margin-left: 15px;
}

.cartNumber {
	background-color: red;
	color: white;
	border-radius: 50%;
	padding: 4px;
	position: absolute;
	top: -8px;
	right: -8px;
	font-size: 0.8rem;
	min-width: 16px;
	text-align: center;
}

.searchContainer {
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
}

.searchContainer button {
	padding: 4px 10px 10px 15px;
	white-space: nowrap;
	background-color: #555;
}

@media (max-width: 768px) {
	.menu {
		width: 100%;
		align-items: flex-start;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.buttonContainer {
		margin-top: 10px;
		width: 100%;
		display: flex;
		justify-content: space-around;
	}
	.searchContainer {
		width: 100%;
		margin: 0;
	}
	.logo {
		margin: 0;
	}
	.cart {
		z-index: 1;
	}
	.toggle button {
		margin: 0;
		padding: 5px 0;
	}
}
